@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');

body {
  font-family: 'Karla', sans-serif;
}

.btn-sub {
  border-radius: 0.9rem;
  margin: 0.7rem;
  border: 0.25rem;
}

.form-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;
}

.form-subtitle {
  margin-top: 1.5rem;
}

.posts {
  margin: 3em;
}

@media only screen and (max-width: 800px) {
  .posts {
    margin: 1.5em;
  }
}

.posts-container {
  margin-top: 5rem;
}

/* .single-post {
  display: grid;
} */
